---
layout: bootcamp
root: .
venue: TBA
address: National Socio-Environmental Synthesis Center (SESYNC), Annapolis, MD
country: United-States
humandate: December 3-6, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-12-03
enddate: 2013-12-06
latlng: 38.976734, -76.503296
registration: restricted
instructor: ["Will Trimble", " Amanda Whitlock", "Bernhard Konrad", "Aron Ahmadia", "R. David Murray"]
contact: mshelley@sesync.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>
To participate, you will need working copies of <em>bash</em>, <em>git</em>, a <em>Text editor</em>, and <em>python</em>.
<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}

    {% include setup/overview-editor.html %}
<!--    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %} -->
    {% include setup/vm.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %} 

    {% include setup/overview-python.html %}
    {% include setup/windows-python.html %} 
    {% include setup/macosx-python.html %} 
<!--    {% include setup/linux-python.html %}  -->
  </div>
</div>

<hr/>
<!--
<h2>Group chat / etherpad</h2>
<a href="http://etherpad.mozilla.org/swc-sesync-2013">Etherpad group chat</a>
-->
<h2>Lessons</h2>

<div class="row-fluid">
  <div class="span6">
<!--     <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3> -->
    <ul>
       <li><a href="lessons/gentle.html">Lessons - Beginner track </a>
       <li><a href="lessons/steep.html">Lessons - Intermediate track </a>
       <li><a href="lessons/index.html">Index to all SWC lessons</a>

<!--      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li> -->
    </ul>
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
