---
layout: lesson
root: ../..
title: The Unix Shell
order: ["intro", "filedir", "create", "wildcard", "pipefilter", "loop", "scripts", "find"]
---
<section>
  <h2>Opening</h2>
  {% include guide-shell/opening.html %}
</section>

<section id="s:shell:loop">
  <h2>{% include guide-shell/loop/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/loop/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/loop/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/loop/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/loop/challenges.html %}
</section>

<section id="s:shell:scripts">
  <h2>{% include guide-shell/scripts/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/scripts/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/scripts/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/scripts/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/scripts/challenges.html %}
</section>

<section id="s:shell:find">
  <h2>{% include guide-shell/find/title.md %}</h2>
  <h3>Objectives</h3>
  {% include guide-shell/find/objectives.html %}
  <h3>Lesson</h3>
  {% include guide-shell/find/lesson.html %}
  <h3>Summary</h3>
  {% include guide-shell/find/keypoints.html %}
  <h3>Challenges</h3>
  {% include guide-shell/find/challenges.html %}
</section>

<section>
  <h2>Summary</h2>
  {% include guide-shell/summary.html %}
</section>
